/* ---------- CHAT STYLING ---------- */



a { text-decoration: none; }


h4, h5 {
    line-height: 1.5em;
    margin: 0;
}

h4:hover {
    color: white;

}

h5 {
    color : darkgrey;
    margin-bottom: 4px;

}

hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 16px;
    min-height: 1px;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 300px;
}

#live-chat header {
    background: #676767;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}




#live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 13px;
}

#live-chat h5 {
    font-size: 10px;
    padding-left: 55px;
}

#live-chat form {
    padding: 10px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 14px;
    outline: none;
    width: 89.2%;
}



.chat-close {

    border-radius: 50%;
    color: black;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
}

.chat-history {
    height: 300px;
    padding: 8px ;
    overflow-y: scroll;
    padding-bottom: 50px;

}

.chat-message {
    margin: 16px 0;
}

.chat-message img {
    border-radius: 50%;
    float: left;
    margin-top: 19px;
}

.chat-message-content:hover {
    background-color: #7a7676;
}

.chat-message-content {
    margin-left: 56px;
    background-color: #676767;
    color: white;
    padding: 7px;
    border-radius: 10px 10px 0px 10px;
}

.seller-chat-message-content {
    border-radius: 10px 10px 10px 0px;

}

.chat-time {
    float: right;
    font-size: 10px;
    color : darkgrey;
}

.chat-feedback {
    margin: 0 0 0 80px;
}



/* ---------- END CHAT STYLING---------- */


body {
    background-color: black;
}

h1 {
    color: white;
}

